html, body {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
}

* {
  font-family: "Raleway", sans-serif;
}

nav, footer {
  position: fixed;
  left: 0;
  width: 100%;
  background: #e6ee9c;
  height: 30px;
  line-height: 30px;
  display: flex;
}
@media screen and (max-width: 350px) {
  nav, footer {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}

nav {
  top: 0;
  align-items: center;
  border-bottom: 1px solid black;
  justify-content: space-between;
}
nav > span {
  margin-left: 5px;
}

footer {
  bottom: 0;
  border-top: 1px solid black;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.card-container .card {
  width: 350px;
  margin: 20px;
  padding: 10px;
  background: #e6ee9c;
  border-radius: 15px;
}
@media screen and (max-width: 350px) {
  .card-container .card {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
  }
}
.card-container .card .card-row {
  display: flex;
  justify-content: space-between;
}
.card-container .card .card-row .title {
  font-weight: bold;
  font-size: 18px;
}
.card-container .card .card-row button {
  margin-left: 5px;
}
.card-container .card .card-row input[type=text] {
  flex: 1;
  width: 100%;
  font-size: 18px;
}
.card-container .card .card-row input[type=text]:focus {
  background: #FFEB3B;
  border: 1px solid black;
}
.card-container .card .card-row form {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-container .card .card-row .card-row-buttons {
  display: flex;
  align-items: center;
}
.card-container .card .card-body {
  margin-top: 20px;
  margin-bottom: 0;
}
.card-container .card .card-body ul .card-row {
  margin-bottom: 20px;
}
.card-container .card .card-body .card-row {
  margin-bottom: 0;
}
.card-container .card input[type=text] {
  background: #e6ee9c;
  border: 1px solid #e6ee9c;
  border-bottom: 1px solid black;
  padding: 5px;
}
.card-container .card h4 {
  margin-top: 0;
  text-align: center;
}
.card-container .card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-container .card ul li {
  display: flex;
  justify-content: space-between;
}
.card-container .card .amount {
  width: 60px;
}

.new-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.new-list form {
  display: flex;
  background: #e6ee9c;
  padding: 10px;
  border-radius: 15px;
}
.new-list input[type=text] {
  height: 28px;
  padding: 0 5px;
  border: none;
  border: 1px solid #e6ee9c;
  border-bottom: 1px solid black;
  margin-right: 5px;
  background: #e6ee9c;
}
.new-list input[type=text]:focus {
  background: #FFEB3B;
  border: 1px solid black;
}
@media screen and (max-width: 350px) {
  .new-list input[type=text] {
    height: 40px;
    font-size: 18px;
  }
}

.account {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.account button {
  width: 80px;
}
.account form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #e6ee9c;
  padding: 10px;
  border-radius: 15px;
}
.account form input {
  height: 28px;
  padding-left: 5px;
  margin-bottom: 10px;
  background: #e6ee9c;
  border: none;
  border-bottom: 1px solid black;
}

button {
  width: 30px;
  height: 30px;
  background: #FFEB3B;
  border: 1px solid black;
}
@media screen and (max-width: 350px) {
  button {
    height: 40px;
    width: 40px;
  }
}
button:hover {
  background: #F9A825;
  cursor: pointer;
}
button i {
  font-size: 15px;
}
@media screen and (max-width: 350px) {
  button i {
    font-size: 20px;
  }
}

a {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
a:hover {
  background: #FFEB3B;
}

/*# sourceMappingURL=vue.css.map */
