<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Shopping List</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <nav>
    This is my navbar.
    <a href="/list">List</a>
    <a href="/account">Account</a>
    <a href="/json">JSON</a>
    <hr>
  </nav>

  <div id="app">
    <h1>[[ message ]]</h1>

    <form action="new_list/" method="post">
      {% csrf_token %}

      <input type="text" name="title" placeholder="New list">
      <input type="submit" value="Add">
    </form>

    <p>[[ lists ]]</p>

    <template v-if="lists !== undefined">
      <div v-for="list in lists">
        <hr>

        <p>[[ list.title ]]</p>
        <p>id: [[ list.id ]]</p>
        <p>Archived: [[ list.archived ]]</p>
        <p>Collapsed: [[ list.collapsed ]]</p>

        <form action="" method="post">
          {% csrf_token %}
    
          <button>Edit</button>
          <button>Archive</button>
          <button>Collapse</button>
        </form>

        <form action="" method="post">
          {% csrf_token %}

          <ul>
            <template v-for="entry in list.entries">
              <template v-if="entry.header_id === list.id">
                <li>
                  <p>[[ entry.amount ]] [[ entry.text ]] - Checked: [[ entry.done ]]</p>
                  <p>id: [[ entry.id ]]</p>
                  <button>Edit</button>
                  <button>Delete</button>
                  <button>Check</button>
                </li>
              </template>
            </template>

            <p>
              <input type="text" name="entry" placeholder="New item">
              <input type="submit" value="Add">
            </p>
          </ul>

        </form>
        
      </div>

    </template>
    
  </div>

  <!--
    
  <hr>

  {% block content %}
  {% endblock %}
  -->

  <footer>
    <hr>
    This is my footer.
  </footer>

  {% load static %}
  <script src="{% static 'vue.js' %}"></script>
  
</body>
</html>