{% extends "base.html" %}

{% block content %}

  <h1>List View</h1>
  
  <h2>{{ data }}</h2>

  <ul>
    <li>shopping list</li>
    <ul>
      <li>card</li>
      <li>title</li>
      <li>collapse toggle</li>
      <li>archive button</li>
      <li>text input</li>

      <li>list of entries</li>
      <ul>
        <li>entry</li>
        <li>delete entry</li>
        <li>edit entry</li>
        <li>checked off</li>
      </ul>
    </ul>

    <li>archive</li>
    <ul>
      <li>card</li>
      <li>title</li>
      <li>collapse toggle, collapsed by default</li>
      <li>list of entries</li>
      <li>reactivate</li>
      <li>delete</li>
    </ul>

    <li>account</li>
    <ul>
      <li>sign up</li>
      <li>register</li>
      <li>email</li>
      <li>password</li>
    </ul>

    <li>nav bar</li>
    <ul>
      <li>home</li>
      <li>sign up</li>
      <li>register</li>
    </ul>
  </ul>

{% endblock %}